<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />

    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-main>
          <!-- 入力項目（ここから） -->
          <v-container class="mb-5" v-show="show.inputForm">
            <!-- 共通項目（ここから） -->
            <v-row>
              <v-col cols="12" class="headline"> ■共通入力項目 </v-col>
            </v-row>

            <v-row>
              <v-col sm="4" cols="12">
                <v-subheader>会社名</v-subheader>
              </v-col>
              <v-col sm="8" cols="12">
                <v-text-field
                  outlined
                  label="会社名"
                  v-model="common.companyName"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col sm="4" cols="12">
                <v-subheader>担当者名前</v-subheader>
              </v-col>
              <v-col sm="8" cols="12">
                <v-text-field
                  outlined
                  label="担当者名前"
                  v-model="common.name"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col sm="4" cols="12">
                <v-subheader>電話番号（半角）</v-subheader>
              </v-col>
              <v-col sm="8" cols="12">
                <v-text-field
                  outlined
                  label="電話番号（半角）"
                  v-model="common.phoneNumber"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col sm="4" cols="12">
                <v-subheader>メールアドレス（半角）</v-subheader>
              </v-col>
              <v-col sm="8" cols="12">
                <v-text-field
                  outlined
                  label="メールアドレス（半角）"
                  v-model="common.email"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col sm="4" cols="12">
                <v-subheader>ご住所</v-subheader>
              </v-col>
              <v-col sm="8" cols="12">
                <v-text-field
                  outlined
                  label="ご住所"
                  v-model="common.address"
                ></v-text-field>
              </v-col>
            </v-row>
            <!-- 共通項目（ここまで） -->

            <!-- 選択項目（ここから） -->
            <v-row>
              <v-col sm="4" cols="12">
                <v-subheader>型形式</v-subheader>
              </v-col>
              <v-col sm="8" cols="12">
                <v-radio-group v-model="kataType">
                  <v-radio
                    v-for="n in master.kataTypes"
                    :key="n"
                    :label="n"
                    :value="n"
                  ></v-radio>
                </v-radio-group>
              </v-col>
            </v-row>
            <!-- 選択項目（ここまで） -->

            <!-- 既存品（見積もり）の場合（ここから） -->
            <div v-show="show.mitsumori">
              <!-- 平型（ここから） -->
              <v-row v-show="show.typeHira">
                <v-col sm="4" cols="12">
                  <v-subheader>{{ kataType }} 樹脂型サイズ</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-select
                    :items="master.hiragataSizes"
                    :label="`${kataType}樹脂型サイズ`"
                    outlined
                    v-model="mitsumori.size"
                  ></v-select>
                </v-col>
                <v-col sm="4" cols="12">
                  <v-subheader
                    >製品の取り数（製作個数
                    ※シート1枚に作る型の個数）</v-subheader
                  >
                </v-col>
                <v-col sm="8" cols="12">
                  <v-select
                    :items="master.torisu"
                    label="製品の取り数"
                    outlined
                    v-model="mitsumori.torisu"
                  ></v-select>
                </v-col>
                <v-col sm="4" cols="12">
                  <v-subheader>シート枚数</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-select
                    :items="master.sheets"
                    label="シート枚数"
                    outlined
                    v-model="mitsumori.sheet"
                  ></v-select>
                </v-col>
              </v-row>
              <!-- 平型（ここまで） -->

              <!-- ヌスミ型（ここから） -->
              <v-row v-show="show.typeNusumi">
                <v-col sm="4" cols="12">
                  <v-subheader>{{ kataType }} 樹脂型サイズ</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-select
                    :items="master.nusumiSizes"
                    :label="`${kataType}樹脂型サイズ`"
                    outlined
                    v-model="mitsumori.size"
                  ></v-select>
                </v-col>
                <v-col sm="4" cols="12">
                  <v-subheader
                    >製品の取り数（製作個数
                    ※シート1枚に作る型の個数）</v-subheader
                  >
                </v-col>
                <v-col sm="8" cols="12">
                  <v-select
                    :items="master.torisu"
                    label="製品の取り数"
                    outlined
                    v-model="mitsumori.torisu"
                  ></v-select>
                </v-col>
                <v-col sm="4" cols="12">
                  <v-subheader>シート枚数</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-select
                    :items="master.sheets"
                    label="シート枚数"
                    outlined
                    v-model="mitsumori.sheet"
                  ></v-select>
                </v-col>
              </v-row>
              <!-- ヌスミ型（ここまで） -->

              <!-- その他の型（ここから） -->
              <v-row v-show="show.typeOther">
                <v-col sm="4" cols="12">
                  <v-subheader>制作個数</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-text-field
                    outlined
                    label="制作個数"
                    placeholder="例：試作品5個、量産300個"
                  ></v-text-field>
                </v-col>
                <v-col sm="4" cols="12">
                  <v-subheader>製品サイズ(型1つのサイズ)</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-text-field
                    outlined
                    label="製品サイズ"
                    placeholder="例：200×100×30(mm)"
                    v-model="mitsumori.size"
                  ></v-text-field>
                </v-col>

                <v-col sm="4" cols="12">
                  <v-subheader>添付ファイル１（5MBまで）</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-file-input
                    label="添付ファイル１"
                    placeholder="ファイルを選択してください"
                    prepend-icon="mdi-paperclip"
                    outlined
                  >
                  </v-file-input>
                </v-col>

                <v-col sm="4" cols="12">
                  <v-subheader>添付ファイル2（5MBまで）</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-file-input
                    label="添付ファイル2"
                    placeholder="ファイルを選択してください"
                    prepend-icon="mdi-paperclip"
                    outlined
                  >
                  </v-file-input>
                </v-col>

                <v-col sm="4" cols="12">
                  <v-subheader>お問い合わせ内容</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-textarea
                    outlined
                    label="お問い合わせ内容"
                    v-model="mitsumori.comment"
                  ></v-textarea>
                </v-col>
              </v-row>
              <!-- その他の型（ここまで） -->

              <!-- 見積もりに必要な項目（ここから） -->
              <v-row>
                <v-col sm="4" cols="12">
                  <v-subheader>制作項目</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-select
                    :items="master.createTypes"
                    label="制作項目"
                    multiple
                    chips
                    hint="※複数選択可"
                    persistent-hint
                    outlined
                    v-model="mitsumori.item"
                  ></v-select>
                </v-col>
              </v-row>

              <v-row>
                <v-col sm="4" cols="12">
                  <v-subheader>使用用途</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-select
                    :items="master.usings"
                    label="使用用途"
                    outlined
                    v-model="mitsumori.use"
                  ></v-select>
                </v-col>
              </v-row>

              <v-row>
                <v-col sm="4" cols="12">
                  <v-subheader>具体的用途</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-textarea
                    outlined
                    label="具体的用途"
                    v-model="mitsumori.concrete"
                  ></v-textarea>
                </v-col>
              </v-row>

              <v-row>
                <v-col sm="4" cols="12">
                  <v-subheader>発注時期</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-text-field
                    outlined
                    label="発注時期"
                    v-model="mitsumori.orderDate"
                  ></v-text-field>
                </v-col>
              </v-row>

              <v-row>
                <v-col sm="4" cols="12">
                  <v-subheader>希望納期</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-text-field
                    outlined
                    label="希望納期"
                    v-model="mitsumori.deliverlyDate"
                  ></v-text-field>
                </v-col>
              </v-row>
              <!-- 見積もりに必要な項目（ここまで） -->

              <!-- 確認ボタン（ここから） -->
              <v-row>
                <v-spacer></v-spacer>
                <v-btn class="success" @click="toMitsumori">確認</v-btn>
              </v-row>
              <!-- 確認ボタン（ここまで） -->
            </div>
            <!-- 既存品（見積もり）の場合（ここまで） -->

            <!-- 相談の場合（ここから） -->
            <div v-show="show.soudan">
              <v-row>
                <v-col sm="4" cols="12">
                  <v-subheader>制作項目</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-select
                    v-model="soudan.item"
                    :items="master.createTypes"
                    label="制作項目"
                    multiple
                    chips
                    hint="※複数選択可"
                    persistent-hint
                    outlined
                  ></v-select>
                </v-col>
              </v-row>

              <v-row>
                <v-col sm="4" cols="12">
                  <v-subheader>使用用途</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-select
                    :items="master.usings"
                    label="使用用途"
                    outlined
                    v-model="soudan.use"
                  ></v-select>
                </v-col>
              </v-row>

              <v-row>
                <v-col sm="4" cols="12">
                  <v-subheader>添付ファイル１（5MBまで）</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-file-input
                    label="添付ファイル１"
                    placeholder="ファイルを選択してください"
                    prepend-icon="mdi-paperclip"
                    outlined
                  >
                  </v-file-input>
                </v-col>
              </v-row>

              <v-row>
                <v-col sm="4" cols="12">
                  <v-subheader>添付ファイル2（5MBまで）</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-file-input
                    label="添付ファイル2"
                    placeholder="ファイルを選択してください"
                    prepend-icon="mdi-paperclip"
                    outlined
                  >
                  </v-file-input>
                </v-col>
              </v-row>

              <v-row>
                <v-col sm="4" cols="12">
                  <v-subheader>発注時期</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-text-field
                    outlined
                    label="発注時期"
                    v-model="soudan.orderDate"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col sm="4" cols="12">
                  <v-subheader>希望納期</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-text-field
                    outlined
                    label="希望納期"
                    v-model="soudan.deliverlyDate"
                  ></v-text-field>
                </v-col>
              </v-row>

              <v-row>
                <v-col sm="4" cols="12">
                  <v-subheader>お問い合わせ内容</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-textarea
                    outlined
                    label="お問い合わせ内容"
                    v-model="soudan.comment"
                  ></v-textarea>
                </v-col>
              </v-row>
              <v-row>
                <v-spacer></v-spacer>
                <v-btn class="success" @click="toSoudan">確認</v-btn>
              </v-row>
            </div>
            <!-- 相談の場合（ここまで） -->
          </v-container>
          <!-- 入力項目（ここまで） -->

          <!-- 確認項目（ここから） -->
          <v-container class="mb-5" v-show="show.confirmView">
            <!-- 基本情報（ここから） -->
            <v-row>
              <v-col cols="12" class="headline"> 基本情報 </v-col>
            </v-row>
            <v-row>
              <v-container fluid>
                <v-row>
                  <v-col cols="4">
                    <v-subheader>会社名</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ common.companyName }} </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-subheader>担当者名前</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ common.name }} </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-subheader>電話番号（半角）</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ common.phoneNumber }} </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-subheader>メールアドレス（半角）</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ common.email }} </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-subheader>ご住所</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ common.address }} </v-col>
                </v-row>
              </v-container>
            </v-row>
            <!-- 基本情報（ここまで） -->

            <!-- 見積もり内容（ここから） -->
            <v-row v-show="show.confirm.mitsumori">
              <v-col cols="12" class="headline"> 見積もり内容（確認） </v-col>
            </v-row>
            <v-row v-show="show.confirm.mitsumori">
              <v-container fluid>
                <v-row>
                  <v-col cols="4">
                    <v-subheader>制作項目</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ mitsumori.item | array2String }} </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-subheader>使用用途</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ mitsumori.use }} </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-subheader>具体的用途</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ mitsumori.concrete }} </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-subheader>発注時期</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ mitsumori.orderDate }} </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-subheader>希望納期</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ mitsumori.deliverlyDate }} </v-col>
                </v-row>
              </v-container>
            </v-row>

            <v-row v-show="show.confirm.mitsumori">
              <v-container fluid>
                <v-row>
                  <v-col cols="4">
                    <v-subheader>型形式</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ kataType }} </v-col>
                </v-row>

                <v-row v-if="mitsumori.size">
                  <v-col cols="4">
                    <v-subheader>型サイズ</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ mitsumori.size }} </v-col>
                </v-row>

                <v-row v-if="mitsumori.torisu">
                  <v-col cols="4">
                    <v-subheader>取り数</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ mitsumori.torisu }} </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-subheader>シート枚数</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ mitsumori.sheet }} </v-col>
                </v-row>

                <v-row v-if="mitsumori.comment">
                  <v-col cols="4">
                    <v-subheader>お問い合わせ内容</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ mitsumori.comment }} </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-subheader>料金</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ price | yenPrice | attention }} </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-subheader>料金（税込）</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ priceWithTax | yenPrice }} </v-col>
                </v-row>
              </v-container>
            </v-row>
            <!-- 見積もり内容（ここまで） -->

            <!-- 相談内容（ここから） -->
            <v-row v-show="show.confirm.soudan">
              <v-col cols="12" class="headline"> ご相談内容（確認） </v-col>
            </v-row>
            <v-row v-show="show.confirm.soudan">
              <v-container fluid>
                <v-row>
                  <v-col cols="4">
                    <v-subheader>制作項目</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ soudan.item | array2String }} </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-subheader>使用用途</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ soudan.use }} </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-subheader>発注時期</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ soudan.orderDate }} </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-subheader>希望納期</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ soudan.deliverlyDate }} </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-subheader>お問い合わせ内容</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ soudan.comment }} </v-col>
                </v-row>
              </v-container>
            </v-row>
            <!-- 相談内容（ここまで） -->

            <v-row>
              <v-spacer></v-spacer>
              <v-btn class="success">送信</v-btn>
            </v-row>
          </v-container>
          <!-- 確認項目（ここまで） -->
        </v-main>
      </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
      new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        data: {
          common: {
            companyName: "",
            name: "",
            phoneNumber: "",
            email: "",
            address: ""
          },
          master: {
            kataTypes: [
              "平型",
              "ヌスミ型",
              "平型両面",
              "ヌスミ両面型",
              "容器型",
              "わからない"
            ],
            usings: ["食品用", "工業用", "その他"],
            hiragataSizes: ["①150×200 厚み10mm", "②200×300 厚み15mm"],
            nusumiSizes: ["①150×200 厚み20mm", "②200×300 厚み30mm"],
            createTypes: ["試作/テスト品", "量産"],
            torisu: [
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "12",
              "15",
              "16",
              "18",
              "20"
            ],
            sheets: [
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "10枚以上"
            ]
          },
          kataType: "",
          show: {
            inputForm: true,
            confirmView: false,
            mitsumori: false,
            soudan: false,
            typeHira: false,
            typeNusumi: false,
            typeOther: false,
            confirm: {
              mitsumori: false,
              soudan: false
            }
          },
          mitsumori: {
            item: "",
            use: "",
            concrete: "",
            orderDate: "",
            deliverlyDate: "",
            torisu: "",
            size: "",
            sheet: "",
            comment: ""
          },
          soudan: {
            item: "",
            use: "",
            comment: "",
            orderDate: "",
            deliverlyDate: ""
          },
          price: "",
          priceWithTax: ""
        },
        watch: {
          kataType: function(value) {
            // "見積もり依頼", "ご相談"
            switch (value) {
              case "平型":
                this.show.mitsumori = true;
                this.show.soudan = false;
                this.show.typeHira = true;
                this.show.typeNusumi = false;
                this.show.typeOther = false;
                break;

              case "ヌスミ型":
                this.show.mitsumori = true;
                this.show.soudan = false;
                this.show.typeHira = false;
                this.show.typeNusumi = true;
                this.show.typeOther = false;
                break;

              case "わからない":
                this.show.mitsumori = false;
                this.show.soudan = true;
                this.show.typeHira = false;
                this.show.typeNusumi = false;
                this.show.typeOther = false;
                break;

              default:
                this.show.mitsumori = true;
                this.show.typeHira = false;
                this.show.typeNusumi = false;
                this.show.typeOther = true;
                this.show.soudan = false;
                break;
            }
          }
        },
        methods: {
          toMitsumori() {
            this.show.inputForm = false;
            this.show.confirmView = true;
            this.show.confirm.mitsumori = true;
            this.show.confirm.soudan = false;
            this.price = this.calcPrice();
            this.priceWithTax =
              this.price === "要相談" ? "要相談" : this.price * 1.1;
          },
          toSoudan() {
            this.show.inputForm = false;
            this.show.confirmView = true;
            this.show.confirm.mitsumori = false;
            this.show.confirm.soudan = true;
          },
          calcTorisuPrice(type, size, torisu) {
            const key = `${type}_${size}_${torisu}`;
            const table = {
              // 平型 10mm
              "平型_①150×200 厚み10mm_1": 35000,
              "平型_①150×200 厚み10mm_2": 38500,
              "平型_①150×200 厚み10mm_3": 42000,
              "平型_①150×200 厚み10mm_4": 49000,
              "平型_①150×200 厚み10mm_5": 52500,
              "平型_①150×200 厚み10mm_6": 56000,
              "平型_①150×200 厚み10mm_7": 59500,
              "平型_①150×200 厚み10mm_8": 63000,
              "平型_①150×200 厚み10mm_9": 66500,
              "平型_①150×200 厚み10mm_10": 70000,
              "平型_①150×200 厚み10mm_12": 78750,
              "平型_①150×200 厚み10mm_15": 80500,
              "平型_①150×200 厚み10mm_16": 82250,
              "平型_①150×200 厚み10mm_18": 84000,
              "平型_①150×200 厚み10mm_20": 85750,
              // 平型 15mm
              "平型_②200×300 厚み15mm_1": 50000,
              "平型_②200×300 厚み15mm_2": 55000,
              "平型_②200×300 厚み15mm_3": 60000,
              "平型_②200×300 厚み15mm_4": 70000,
              "平型_②200×300 厚み15mm_5": 75000,
              "平型_②200×300 厚み15mm_6": 80000,
              "平型_②200×300 厚み15mm_7": 85000,
              "平型_②200×300 厚み15mm_8": 90000,
              "平型_②200×300 厚み15mm_9": 95000,
              "平型_②200×300 厚み15mm_10": 100000,
              "平型_②200×300 厚み15mm_12": 112500,
              "平型_②200×300 厚み15mm_15": 115000,
              "平型_②200×300 厚み15mm_16": 117500,
              "平型_②200×300 厚み15mm_18": 120000,
              "平型_②200×300 厚み15mm_20": 122500,
              // ヌスミ型 20mm
              "ヌスミ型_①150×200 厚み20mm_1": 60000,
              "ヌスミ型_①150×200 厚み20mm_2": 66000,
              "ヌスミ型_①150×200 厚み20mm_3": 72000,
              "ヌスミ型_①150×200 厚み20mm_4": 84000,
              "ヌスミ型_①150×200 厚み20mm_5": 90000,
              "ヌスミ型_①150×200 厚み20mm_6": 96000,
              "ヌスミ型_①150×200 厚み20mm_7": 102000,
              "ヌスミ型_①150×200 厚み20mm_8": 108000,
              "ヌスミ型_①150×200 厚み20mm_9": 114000,
              "ヌスミ型_①150×200 厚み20mm_10": 120000,
              "ヌスミ型_①150×200 厚み20mm_12": 135000,
              "ヌスミ型_①150×200 厚み20mm_15": 138000,
              "ヌスミ型_①150×200 厚み20mm_16": 141000,
              "ヌスミ型_①150×200 厚み20mm_18": 144000,
              "ヌスミ型_①150×200 厚み20mm_20": 147000,
              // ヌスミ型 30mm
              "ヌスミ型_②200×300 厚み30mm_1": 80000,
              "ヌスミ型_②200×300 厚み30mm_2": 88000,
              "ヌスミ型_②200×300 厚み30mm_3": 96000,
              "ヌスミ型_②200×300 厚み30mm_4": 112000,
              "ヌスミ型_②200×300 厚み30mm_5": 120000,
              "ヌスミ型_②200×300 厚み30mm_6": 128000,
              "ヌスミ型_②200×300 厚み30mm_7": 136000,
              "ヌスミ型_②200×300 厚み30mm_8": 144000,
              "ヌスミ型_②200×300 厚み30mm_9": 152000,
              "ヌスミ型_②200×300 厚み30mm_10": 160000,
              "ヌスミ型_②200×300 厚み30mm_12": 180000,
              "ヌスミ型_②200×300 厚み30mm_15": 184000,
              "ヌスミ型_②200×300 厚み30mm_16": 188000,
              "ヌスミ型_②200×300 厚み30mm_18": 192000,
              "ヌスミ型_②200×300 厚み30mm_20": 196000
            };
            return table[key];
          },
          calcSheetPrice(type, size, sheet) {
            const key = `${type}_${size}_${sheet}`;
            const table = {
              // 平型 10mm
              "平型_①150×200 厚み10mm_1": 10000,
              "平型_①150×200 厚み10mm_2": 9500,
              "平型_①150×200 厚み10mm_3": 9000,
              "平型_①150×200 厚み10mm_4": 8500,
              "平型_①150×200 厚み10mm_5": 8000,
              "平型_①150×200 厚み10mm_6": 7500,
              "平型_①150×200 厚み10mm_7": 7000,
              "平型_①150×200 厚み10mm_8": 6500,
              "平型_①150×200 厚み10mm_9": 6000,
              "平型_①150×200 厚み10mm_10": 5500,
              // 平型 15mm
              "平型_②200×300 厚み15mm_1": 12000,
              "平型_②200×300 厚み15mm_2": 11500,
              "平型_②200×300 厚み15mm_3": 11000,
              "平型_②200×300 厚み15mm_4": 10500,
              "平型_②200×300 厚み15mm_5": 10000,
              "平型_②200×300 厚み15mm_6": 9500,
              "平型_②200×300 厚み15mm_7": 9000,
              "平型_②200×300 厚み15mm_8": 8500,
              "平型_②200×300 厚み15mm_9": 8000,
              "平型_②200×300 厚み15mm_10": 7500,
              // ヌスミ型 20mm
              "ヌスミ型_①150×200 厚み20mm_1": 10000,
              "ヌスミ型_①150×200 厚み20mm_2": 9500,
              "ヌスミ型_①150×200 厚み20mm_3": 9000,
              "ヌスミ型_①150×200 厚み20mm_4": 8500,
              "ヌスミ型_①150×200 厚み20mm_5": 8000,
              "ヌスミ型_①150×200 厚み20mm_6": 7500,
              "ヌスミ型_①150×200 厚み20mm_7": 7000,
              "ヌスミ型_①150×200 厚み20mm_8": 6500,
              "ヌスミ型_①150×200 厚み20mm_9": 6000,
              "ヌスミ型_①150×200 厚み20mm_10": 5500,
              // ヌスミ型 30mm
              "ヌスミ型_②200×300 厚み30mm_1": 12000,
              "ヌスミ型_②200×300 厚み30mm_2": 11500,
              "ヌスミ型_②200×300 厚み30mm_3": 11000,
              "ヌスミ型_②200×300 厚み30mm_4": 10500,
              "ヌスミ型_②200×300 厚み30mm_5": 10000,
              "ヌスミ型_②200×300 厚み30mm_6": 9500,
              "ヌスミ型_②200×300 厚み30mm_7": 9000,
              "ヌスミ型_②200×300 厚み30mm_8": 8500,
              "ヌスミ型_②200×300 厚み30mm_9": 8000,
              "ヌスミ型_②200×300 厚み30mm_10": 75000
            };
            return table[key] * parseInt(sheet);
          },
          calcPrice() {
            if (this.kataType === "平型" || this.kataType === "ヌスミ型") {
              if (this.mitsumori.sheet === "10枚以上") {
                return "要相談";
              }
              const type = this.kataType;
              const size = this.mitsumori.size;
              const torisu = this.mitsumori.torisu;
              const sheet = this.mitsumori.sheet;
              const torisuPrice = this.calcTorisuPrice(type, size, torisu);
              const sheetPrice = this.calcSheetPrice(type, size, sheet);
              return torisuPrice + sheetPrice;
            } else {
              return "要相談";
            }
          }
        },
        filters: {
          array2String: function(value) {
            if (!value) return "";
            return value.join(",");
          },
          yenPrice: function(value) {
            if (value === "要相談") {
              return "要相談";
            }
            const formatter = new Intl.NumberFormat("ja-JP");
            return `¥${formatter.format(value)}~`;
          },
          attention: function(value) {
            if (value === "要相談") {
              return "要相談";
            }
            return `${value} ※デザイン料（3Dデータ化）が別途かかります。`;
          }
        }
      });
    </script>
  </body>
</html>
