<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />

    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-main>
          <!-- 入力項目（ここから） -->
          <v-container v-show="show.inputForm">
            <!-- 共通項目（ここから） -->
            <v-row>
              <v-col cols="12" class="headline"> ■共通入力項目 </v-col>
            </v-row>

            <v-row>
              <v-col sm="4" cols="12">
                <v-subheader>会社名</v-subheader>
              </v-col>
              <v-col sm="8" cols="12">
                <v-text-field
                  outlined
                  label="会社名"
                  v-model="common.companyName"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col sm="4" cols="12">
                <v-subheader>担当者名前</v-subheader>
              </v-col>
              <v-col sm="8" cols="12">
                <v-text-field
                  outlined
                  label="担当者名前"
                  v-model="common.name"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col sm="4" cols="12">
                <v-subheader>電話番号（半角）</v-subheader>
              </v-col>
              <v-col sm="8" cols="12">
                <v-text-field
                  outlined
                  label="電話番号（半角）"
                  v-model="common.phoneNumber"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col sm="4" cols="12">
                <v-subheader>メールアドレス（半角）</v-subheader>
              </v-col>
              <v-col sm="8" cols="12">
                <v-text-field
                  outlined
                  label="メールアドレス（半角）"
                  v-model="common.email"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col sm="4" cols="12">
                <v-subheader>ご住所</v-subheader>
              </v-col>
              <v-col sm="8" cols="12">
                <v-text-field
                  outlined
                  label="ご住所"
                  v-model="common.address"
                ></v-text-field>
              </v-col>
            </v-row>
            <!-- 共通項目（ここまで） -->

            <!-- 選択項目（ここから） -->
            <v-row>
              <v-col sm="4" cols="12">
                <v-subheader>型形式</v-subheader>
              </v-col>
              <v-col sm="8" cols="12">
                <v-radio-group v-model="kataType">
                  <v-radio
                    v-for="n in master.kataTypes"
                    :key="n"
                    :label="n"
                    :value="n"
                  ></v-radio>
                </v-radio-group>
              </v-col>
            </v-row>
            <!-- 選択項目（ここまで） -->

            <!-- 既存品（見積もり）の場合（ここから） -->
            <div v-show="show.mitsumori">
              <!-- 平型（ここから） -->
              <v-row v-show="show.typeHira">
                <v-col sm="4" cols="12">
                  <v-subheader>{{ kataType }} 樹脂型サイズ</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-select
                    :items="master.hiragataSizes"
                    :label="`${kataType}樹脂型サイズ`"
                    outlined
                  ></v-select>
                </v-col>
                <v-col sm="4" cols="12">
                  <v-subheader
                    >製品の取り数（製作個数
                    ※シート1枚に作る型の個数）</v-subheader
                  >
                </v-col>
                <v-col sm="8" cols="12">
                  <v-select
                    :items="master.torisu"
                    label="製品の取り数"
                    outlined
                  ></v-select>
                </v-col>
                <v-col sm="4" cols="12">
                  <v-subheader>シート枚数</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-select
                    :items="master.sheets"
                    label="シート枚数"
                    outlined
                  ></v-select>
                </v-col>
              </v-row>
              <!-- 平型（ここまで） -->

              <!-- ヌスミ型（ここから） -->
              <v-row v-show="show.typeNusumi">
                <v-col sm="4" cols="12">
                  <v-subheader>{{ kataType }} 樹脂型サイズ</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-select
                    :items="master.nusumiSizes"
                    :label="`${kataType}樹脂型サイズ`"
                    outlined
                  ></v-select>
                </v-col>
                <v-col sm="4" cols="12">
                  <v-subheader
                    >製品の取り数（製作個数
                    ※シート1枚に作る型の個数）</v-subheader
                  >
                </v-col>
                <v-col sm="8" cols="12">
                  <v-select
                    :items="master.torisu"
                    label="製品の取り数"
                    outlined
                  ></v-select>
                </v-col>
                <v-col sm="4" cols="12">
                  <v-subheader>シート枚数</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-select
                    :items="master.sheets"
                    label="シート枚数"
                    outlined
                  ></v-select>
                </v-col>
              </v-row>
              <!-- ヌスミ型（ここまで） -->

              <!-- その他の型（ここから） -->
              <v-row v-show="show.typeOther">
                <v-col sm="4" cols="12">
                  <v-subheader>制作個数</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-text-field
                    outlined
                    label="制作個数"
                    placeholder="例：試作品5個、量産300個"
                  ></v-text-field>
                </v-col>
                <v-col sm="4" cols="12">
                  <v-subheader>製品サイズ(型1つのサイズ)</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-text-field
                    outlined
                    label="製品サイズ"
                    placeholder="例：200×100×30(mm)"
                  ></v-text-field>
                </v-col>

                <v-col sm="4" cols="12">
                  <v-subheader>添付ファイル１（5MBまで）</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-file-input
                    label="添付ファイル１"
                    placeholder="ファイルを選択してください"
                    prepend-icon="mdi-paperclip"
                    outlined
                  >
                  </v-file-input>
                </v-col>

                <v-col sm="4" cols="12">
                  <v-subheader>添付ファイル2（5MBまで）</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-file-input
                    label="添付ファイル2"
                    placeholder="ファイルを選択してください"
                    prepend-icon="mdi-paperclip"
                    outlined
                  >
                  </v-file-input>
                </v-col>

                <v-col sm="4" cols="12">
                  <v-subheader>お問い合わせ内容</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-textarea outlined label="お問い合わせ内容"></v-textarea>
                </v-col>
              </v-row>
              <!-- その他の型（ここまで） -->

              <!-- 見積もりに必要な項目（ここから） -->
              <v-row>
                <v-col sm="4" cols="12">
                  <v-subheader>制作項目</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-select
                    :items="master.createTypes"
                    label="制作項目"
                    multiple
                    chips
                    hint="※複数選択可"
                    persistent-hint
                    outlined
                    v-model="mitsumori.item"
                  ></v-select>
                </v-col>
              </v-row>

              <v-row>
                <v-col sm="4" cols="12">
                  <v-subheader>使用用途</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-select
                    :items="master.usings"
                    label="使用用途"
                    outlined
                    v-model="mitsumori.use"
                  ></v-select>
                </v-col>
              </v-row>

              <v-row>
                <v-col sm="4" cols="12">
                  <v-subheader>具体的用途</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-textarea
                    outlined
                    label="具体的用途"
                    v-model="mitsumori.concrete"
                  ></v-textarea>
                </v-col>
              </v-row>

              <v-row>
                <v-col sm="4" cols="12">
                  <v-subheader>発注時期</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-text-field
                    outlined
                    label="発注時期"
                    v-model="mitsumori.orderDate"
                  ></v-text-field>
                </v-col>
              </v-row>

              <v-row>
                <v-col sm="4" cols="12">
                  <v-subheader>希望納期</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-text-field
                    outlined
                    label="希望納期"
                    v-model="mitsumori.deliverlyDate"
                  ></v-text-field>
                </v-col>
              </v-row>
              <!-- 見積もりに必要な項目（ここまで） -->

              <!-- 確認ボタン（ここから） -->
              <v-row>
                <v-spacer></v-spacer>
                <v-btn class="success" @click="toMitsumori">確認</v-btn>
              </v-row>
              <!-- 確認ボタン（ここまで） -->
            </div>
            <!-- 既存品（見積もり）の場合（ここまで） -->

            <!-- 相談の場合（ここから） -->
            <div v-show="show.soudan">
              <v-row>
                <v-col sm="4" cols="12">
                  <v-subheader>制作項目</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-select
                    v-model="soudan.item"
                    :items="master.createTypes"
                    label="制作項目"
                    multiple
                    chips
                    hint="※複数選択可"
                    persistent-hint
                    outlined
                  ></v-select>
                </v-col>
              </v-row>

              <v-row>
                <v-col sm="4" cols="12">
                  <v-subheader>使用用途</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-select
                    :items="master.usings"
                    label="使用用途"
                    outlined
                    v-model="soudan.use"
                  ></v-select>
                </v-col>
              </v-row>

              <v-row>
                <v-col sm="4" cols="12">
                  <v-subheader>添付ファイル１（5MBまで）</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-file-input
                    label="添付ファイル１"
                    placeholder="ファイルを選択してください"
                    prepend-icon="mdi-paperclip"
                    outlined
                  >
                  </v-file-input>
                </v-col>
              </v-row>

              <v-row>
                <v-col sm="4" cols="12">
                  <v-subheader>添付ファイル2（5MBまで）</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-file-input
                    label="添付ファイル2"
                    placeholder="ファイルを選択してください"
                    prepend-icon="mdi-paperclip"
                    outlined
                  >
                  </v-file-input>
                </v-col>
              </v-row>

              <v-row>
                <v-col sm="4" cols="12">
                  <v-subheader>発注時期</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-text-field
                    outlined
                    label="発注時期"
                    v-model="soudan.orderDate"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col sm="4" cols="12">
                  <v-subheader>希望納期</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-text-field
                    outlined
                    label="希望納期"
                    v-model="soudan.deliverlyDate"
                  ></v-text-field>
                </v-col>
              </v-row>

              <v-row>
                <v-col sm="4" cols="12">
                  <v-subheader>お問い合わせ内容</v-subheader>
                </v-col>
                <v-col sm="8" cols="12">
                  <v-textarea
                    outlined
                    label="お問い合わせ内容"
                    v-model="soudan.comment"
                  ></v-textarea>
                </v-col>
              </v-row>
              <v-row>
                <v-spacer></v-spacer>
                <v-btn class="success" @click="toSoudan">確認</v-btn>
              </v-row>
            </div>
            <!-- 相談の場合（ここまで） -->
          </v-container>
          <!-- 入力項目（ここまで） -->

          <!-- 確認項目（ここから） -->
          <v-container v-show="show.confirmView">
            <!-- 基本情報（ここから） -->
            <v-row>
              <v-col cols="12" class="headline"> 基本情報 </v-col>
            </v-row>
            <v-row>
              <v-container fluid>
                <v-row>
                  <v-col cols="4">
                    <v-subheader>会社名</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ common.companyName }} </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-subheader>担当者名前</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ common.name }} </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-subheader>電話番号（半角）</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ common.phoneNumber }} </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-subheader>メールアドレス（半角）</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ common.email }} </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-subheader>ご住所</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ common.address }} </v-col>
                </v-row>
              </v-container>
            </v-row>
            <!-- 基本情報（ここまで） -->

            <!-- 見積もり内容（ここから） -->
            <v-row v-show="show.confirm.mitsumori">
              <v-col cols="12" class="headline"> 見積もり内容（確認） </v-col>
            </v-row>
            <v-row v-show="show.confirm.mitsumori">
              <v-container fluid>
                <v-row>
                  <v-col cols="4">
                    <v-subheader>制作項目</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ mitsumori.item | array2String }} </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-subheader>使用用途</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ mitsumori.use }} </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-subheader>具体的用途</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ mitsumori.concrete }} </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-subheader>発注時期</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ mitsumori.orderDate }} </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-subheader>希望納期</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ mitsumori.deliverlyDate }} </v-col>
                </v-row>
              </v-container>
            </v-row>

            <v-row v-show="show.confirm.mitsumori">
              <v-container fluid>
                <v-row>
                  <v-col cols="4">
                    <v-subheader>型形式</v-subheader>
                  </v-col>
                  <v-col cols="8"> </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-subheader>型サイズ</v-subheader>
                  </v-col>
                  <v-col cols="8"> </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-subheader>取り数</v-subheader>
                  </v-col>
                  <v-col cols="8"> </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-subheader>シート枚数</v-subheader>
                  </v-col>
                  <v-col cols="8"> </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-subheader>料金</v-subheader>
                  </v-col>
                  <v-col cols="8"> </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-subheader>料金（税込）</v-subheader>
                  </v-col>
                  <v-col cols="8"> </v-col>
                </v-row>
              </v-container>
            </v-row>
            <!-- 見積もり内容（ここまで） -->

            <!-- 相談内容（ここから） -->
            <v-row v-show="show.confirm.soudan">
              <v-col cols="12" class="headline"> ご相談内容（確認） </v-col>
            </v-row>
            <v-row v-show="show.confirm.soudan">
              <v-container fluid>
                <v-row>
                  <v-col cols="4">
                    <v-subheader>制作項目</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ soudan.item | array2String }} </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-subheader>使用用途</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ soudan.use }} </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-subheader>発注時期</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ soudan.orderDate }} </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-subheader>希望納期</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ soudan.deliverlyDate }} </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4">
                    <v-subheader>お問い合わせ内容</v-subheader>
                  </v-col>
                  <v-col cols="8"> {{ soudan.comment }} </v-col>
                </v-row>
              </v-container>
            </v-row>
            <!-- 相談内容（ここまで） -->

            <v-row>
              <v-spacer></v-spacer>
              <v-btn class="success">送信</v-btn>
            </v-row>
          </v-container>
          <!-- 確認項目（ここまで） -->
        </v-main>
      </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
      new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        data: {
          common: {
            companyName: "",
            name: "",
            phoneNumber: "",
            email: "",
            address: ""
          },
          master: {
            kataTypes: [
              "平型",
              "ヌスミ型",
              "平型両面",
              "ヌスミ両面型",
              "容器型",
              "わからない"
            ],
            usings: ["食品用", "工業用", "その他"],
            hiragataSizes: ["①150×200 厚み10mm", "②200×300 厚み15mm"],
            nusumiSizes: ["①150×200 厚み20mm", "②200×300 厚み30mm"],
            createTypes: ["試作/テスト品", "量産"],
            torisu: [
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "12",
              "15",
              "16",
              "18",
              "20"
            ],
            sheets: [
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "10枚以上"
            ]
          },
          kataType: "",
          show: {
            inputForm: true,
            confirmView: false,
            mitsumori: false,
            soudan: false,
            typeHira: false,
            typeNusumi: false,
            typeOther: false,
            confirm: {
              mitsumori: false,
              soudan: false
            }
          },
          mitsumori: {
            item: "",
            use: "",
            concrete: "",
            orderDate: "",
            deliverlyDate: ""
          },
          soudan: {
            item: "",
            use: "",
            comment: "",
            orderDate: "",
            deliverlyDate: ""
          }
        },
        watch: {
          kataType: function(value) {
            // "見積もり依頼", "ご相談"
            switch (value) {
              case "平型":
                this.show.mitsumori = true;
                this.show.soudan = false;
                this.show.typeHira = true;
                this.show.typeNusumi = false;
                this.show.typeOther = false;
                break;

              case "ヌスミ型":
                this.show.mitsumori = true;
                this.show.soudan = false;
                this.show.typeHira = false;
                this.show.typeNusumi = true;
                this.show.typeOther = false;
                break;

              case "わからない":
                this.show.mitsumori = false;
                this.show.soudan = true;
                this.show.typeHira = false;
                this.show.typeNusumi = false;
                this.show.typeOther = false;
                break;

              default:
                this.show.mitsumori = true;
                this.show.typeHira = false;
                this.show.typeNusumi = false;
                this.show.typeOther = true;
                this.show.soudan = false;
                break;
            }
          }
        },
        methods: {
          toMitsumori() {
            this.show.inputForm = false;
            this.show.confirmView = true;
            this.show.confirm.mitsumori = true;
            this.show.confirm.soudan = false;
          },
          toSoudan() {
            this.show.inputForm = false;
            this.show.confirmView = true;
            this.show.confirm.mitsumori = false;
            this.show.confirm.soudan = true;
          }
        },
        filters: {
          array2String: function(value) {
            if (!value) return "";
            return value.join(",");
          }
        }
      });
    </script>
  </body>
</html>
